{% load staticfiles %}
{% static 'chessboardjs-0.3.0/js/chessboard-0.3.0.js' %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>To-Do lists</title>
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href={% static 'chessboardjs-0.3.0/css/chessboard-0.3.0.css' %} />
</head>
<body>
<h1>Welcome to Chess</h1>
<div id="board1" style="width: 400px"></div>
</body>
<script src="{% static '/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'chessboardjs-0.3.0/js/chessboard-0.3.0.js' %}"></script>

<script>
    var board1 = ChessBoard('board1', 'start');
</script>
</html>
